<div class="row">
    <div class="col-12">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Tarte_aux_pommes_002.JPG" alt="todo" class="w-100">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Recipe name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group" role="group">
            <button class="btn btn-primary dropdown-toggle" type="button" [ngClass]="{show: isDropdownMenuExpanded}" (click)="onToggleDropdownMenu()"><span class="pe-2">Manage Recipe</span></button>
            <ul class="dropdown-menu" [ngClass]="{show: isDropdownMenuExpanded}" style="top: 30px">
                <li><a class="dropdown-item" href="#">Shop ingredient</a></li>
                <li><a class="dropdown-item" href="#">Edit recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        Description
    </div>
</div>