/* You can add global styles to this file, and also import other style files */
.recipe-image {    
    max-width: 100px;
}
.recipe-details-image {    
    max-height: 500px;
}

.ng-invalid.form-control.ng-dirty {
    border: solid red 2px;
}

.ng-valid.form-control.ng-dirty {
    border: solid green 2px;
}